:root {
  --blue: rgba(50, 116, 191, 1);
  --light-blue: rgba(115, 163, 218, 1);
  --dark-blue: rgba(7, 33, 62, 1);
  --hover-blue: rgba(115, 163, 218, 0.1);
}

body {
  font-family: "Amulya";
  font-weight: 450;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 32px;
}

ul {
  font-size: 1rem;
  padding-left: 0px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  list-style: none;
}

.logo {
  display: flex;
  align-items: baseline;
}

.highlight {
  background: var(--hover-blue);
}

.highlight .title {
  font-weight: bold;
  transition: all 0.3s;
}

.logo-image {
  margin-right: 1em;
}

summary {
  font-size: 18px;
  opacity: 0.5;
}

li {
  margin-top: 10px;
  border: 1.5px dashed var(--dark-blue);
  border-radius: 0.25rem;
  padding: 0.5em;

  transition: color 0.2s;
  transition: border 0.2s;
}

li:hover {
  border: 1.5px dashed var(--light-blue);
  transition: all 0.3s;
}

p {
  font-size: 1.1rem;
}

#href {
  color: var(--blue);
  transition: color 0.2s;
}

#href:hover {
  color: var(--dark-blue);
}

.title {
  font-variant-numeric: tabular-nums;
  margin-bottom: 1em;
  font-size: 1.1rem;
}

#date {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.8rem;
  font-variant-numeric: tabular-nums;
}
