body {
  font-family: "Amulya";
  font-weight: 450;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 32px;
}

ul {
  font-size: 1rem;
  padding-left: 0px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  list-style: none;
}

.logo {
  display: flex;
  align-items: baseline;
}

.highlight {
  background: rgba(1, 1, 0, 0.1);
}

.logo-image {
  margin-right: 1em;
}

summary {
  font-size: 18px;
  opacity: 0.5;
}

li {
  margin-top: 10px;
  border: 1px dashed tomato;
  border-radius: 0.25rem;
  padding: 0.5em;

  transition: color 0.2s;
  transition: border 0.2s;
}

li:hover {
  border: 1px solid midnightblue;
}

p {
  font-size: 1.1rem;
}

#href {
  color: tomato;
  transition: color 0.2s;
}

#href:hover {
  color: midnightblue;
}

.title {
  font-variant-numeric: tabular-nums;
  margin-bottom: 1em;
  font-size: 1.1rem;
}

#date {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.8rem;
  font-variant-numeric: tabular-nums;
}
